.background {
  background-color: rgb(0, 0, 0);
}

.logo {
  background-color: rgb(3,51,70);
  background-image: url(logo.svg);
  -webkit-animation: fadein 1s;
}

.progressBar {
  background-color: rgb(31,156,213);
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}